<div class="container-fluid">
  <div class="container-fluid">
    <div class="card col-5">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Atualizar a senha de:
          <b>{{user.name}}</b></h5>
        <div class="card">
          <div class="card-body">
            {{#if messages.message}}
              <div class="alertarMessage"><p>{{messages.message}}</p></div>
            {{/if}}
            {{#if messages.success}}
              <div class="alertarMessageSucess"><p
                >{{messages.success}}</p></div>
            {{/if}}
            <form action="/atualizasenha" method="POST">
              <div class="mb-3">
                <label for="nameUser" class="form-label">Nova Senha</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="passwordUser"
                  aria-describedby="nameUser"
                  placeholder="Informe a nova senha"
                />
              </div>
              <div class="mb-3">
                <label for="nameUser" class="form-label">Nome</label>
                <input
                  type="password"
                  class="form-control"
                  name="confirmePassword"
                  id="confimPassUser"
                  aria-describedby="nameUser"
                  placeholder="Confirme a nova senha"
                />
              </div>
              <input type="hidden" name="id" value="{{user.id}}" />
              <button class="btn btn-primary" type="submit">
                Atualizar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>